# Royal Exchange Additional Fees

## Background

On October 31, 2018 a WU myster shopper discovered a Danish agent was charging customers an additional 4 euro fee on every transaction outbound transactions. 
Based on discussions with the agent, the fee was implemented on October 20, 2018 and ceased when informed by WU the fee breached their contract with WU and was illegal according
to Danish law.

## Remediation

WU will refund all unauthorized 4 euro fees to impacted customers.

In [1]:
#Import libraries required for population and fee analysis
import pandas as pd
import numpy as np
import pyodbc
import datetime
pd.set_option('display.max_columns', 500)

In [2]:
# Open connection to Netezza databases for direct SQL queries
dsn_name = "DSN=Netezza;"
conn = pyodbc.connect(dsn_name)

#### SQL Queries

In [3]:
#SQL Query to identify all outbound transactions from the agent location
outbound_transactions_sql = """
SELECT * FROM TDB.ETL_TDB.DB100PDLIB_FNTXKP01 ftran
LEFT JOIN TDB.ETL_TDB.DW400PDLIB_DWTXKP01 tran 
ON ftran.TXNKEY = tran.TXNKEY
WHERE ftran.RECAGTKEY = '2415197' 
AND ftran.RECISODTE BETWEEN '2018-10-10' AND'2018-10-31'  
OR ftran.RECAGTKEY = '2058430' 
AND ftran.RECISODTE BETWEEN '2018-10-10' and '2018-10-31' 
"""

#SQL Query to identify all inbound transactions from the agent location
inbound_transactions_sql = """
SELECT * FROM TDB.ETL_TDB.DB100PDLIB_FNTXKP01 ftran
LEFT JOIN TDB.ETL_TDB.DW400PDLIB_DWTXKP01 tran 
ON ftran.TXNKEY = tran.TXNKEY
WHERE ftran.PAYAGTKEY = '2415197' 
AND ftran.RECISODTE BETWEEN '2018-10-10' AND'2018-10-31'  
OR ftran.PAYAGTKEY = '2058430' 
AND ftran.RECISODTE BETWEEN '2018-10-10' and '2018-10-31'
"""

#SQL Query to search for agent ID number
agent_id = """
SELECT AGNTID,AGTKEY FROM TDB.ETL_TDB.DB100PDLIB_DBAGTP01 agent
WHERE agent.AGTKEY = '2415197' OR agent.AGTKEY = '2058430'
"""

#SQL Query to identify exchange rates from Euro (4 Euro refund) to recording currency
currency_conversion = """
SELECT fin.RECISODTE, scurr.CURR AS rec_curr, pcurr.CURR AS pay_curr,
    AVG(tran.RATERECEXC / 100) AS mean_rec_curr_to_usd, AVG(tran.RATEPAYEXC / 100) AS mean_usd_to_pay_curr,
    MEDIAN(tran.RATERECEXC / 100) AS median_rec_curr_to_usd, MEDIAN(tran.RATEPAYEXC / 100) AS median_usd_to_pay_curr
    
FROM TDB.ETL_TDB.DB100PDLIB_FNTXKP01 fin

INNER JOIN TDB.ETL_TDB.DB100PDLIB_DBCURP01 scurr ON fin.RECCURKEY = scurr.CURKEY 
INNER JOIN TDB.ETL_TDB.DB100PDLIB_DBCURP01 pcurr ON fin.PAYCURKEY = pcurr.CURKEY
INNER JOIN TDB.ETL_TDB.DW400PDLIB_DWTXKP01 tran on fin.TXNKEY = tran.TXNKEY

WHERE fin.ICONTRYKEY = fin.PCONTRYKEY AND scurr.CURR != pcurr.CURR 
    AND fin.RECISODTE = CURRENT_DATE - 3 AND REC_CURR = 'EUR'

GROUP BY fin.RECISODTE, REC_CURR, PAY_CURR
"""

### Dataframe setup and cleaning

In [4]:
#Execute agent ID SQL statement
agentid = pd.read_sql_query(agent_id,conn)
currency_conversion = pd.read_sql_query(currency_conversion,conn)

In [5]:
#Execute Outbound Transaction SQL statement
outbound_transactions = pd.read_sql_query(outbound_transactions_sql,conn)

#Execute Inbound Transaction SQL statement
inbound_transactions = pd.read_sql_query(inbound_transactions_sql,conn)

#Merge SQL statements to assign agent ID's to each transaction
outbound_transactions_id = pd.merge(outbound_transactions, agentid, how = 'left', left_on = 'RECAGTKEY' , right_on = 'AGTKEY')

#Merge SQL statements to assign agent ID's to each transaction
inbound_transactions_id = pd.merge(inbound_transactions, agentid, how = 'left', left_on = 'PAYAGTKEY' , right_on = 'AGTKEY')

#Combine the inbound and outbound transaction dataframes
all_transactions = pd.concat([inbound_transactions_id,outbound_transactions_id]) 

#Remove any duplicate transactions
all_transactions_id = all_transactions.drop_duplicates('TXNKEY', keep = 'first')

#Sort transactions to only include original agent ADK036313
all_transactions_id_sort = all_transactions_id.loc[all_transactions_id['AGNTID'] == 'ADK036313']

#Merge MTCN columns to obtain complete MTCN's
all_transactions_id_sort['MTCN'] = all_transactions_id_sort['MTCN03'].map(str) + all_transactions_id_sort['MTCN07'] 

#Extract list of MTCN's to input in final SQL query to prepare remediation file for upload
mtcn_transactions_list = all_transactions_id_sort['MTCN'].tolist() 

#Add column to currency conversion to directly translate EURO to customer recording currency
currency_conversion['direct_convert'] = currency_conversion['MEDIAN_REC_CURR_TO_USD'] * currency_conversion['MEDIAN_USD_TO_PAY_CURR']

In [6]:
len(mtcn_transactions_list)

750

In [7]:
mtcn_transactions_list = [str(i) for i in mtcn_transactions_list]
#mtcn_transactions_list = [i[6:] for i in mtcn_transactions_list]
mtcn_transactions_list = "','".join(mtcn_transactions_list)
mtcn_transactions_list = "'" + mtcn_transactions_list + "'"
len(mtcn_transactions_list)

9749

In [8]:
#Upload template setup query
template_upload_sql_statement = f"""
-- **************************

-- Changelog:
-- 4/26/2018 - Indicate type of refund or cancel instead of IsRefundedOrCancelled
-- 6/28/2018 - Add Maternal name info
-- 8/16/2018 - Clean up, comment, and put fields in some sort of order
-- **************************

SELECT 
   -- If an MTCN is found in Manual Refunds, Auto Refunds, or Cancelled Transactions tables, return TRUE, else FALSE
   NVL2( ManualRefunds.MTCN , 'ManualRefund', NVL2( AutoRefunds.MTCN , 'AutoRefund', NVL2( CancelledTransactions.MTCN , 'Cancelled', 'No'))) AS RefundedOrCancelled,
   -- Select all fields from the inner sub-query (only tables from TDB)
   TdbInfo.*,
  
   -- Customer Name, various sources, use what looks best
   CopsMedallia.SENDER_NAME,
   CopsTransactions.SENDNAME,
   CopsMedallia.SENDER_FIRST_NAME,
   CopsTransactions.SENDERFIRSTNAME,   
   CopsMedallia.SENDER_MIDDLE_NAME,
   CopsTransactions.SENDERMIDDLENAME,
   CopsMedallia.SENDER_MATERNAL_LAST_NAME,
   CopsTransactions.SENDERMATERNALLASTNAME,
   CopsMedallia.SENDER_PATERNAL_LAST_NAME,
   CopsTransactions.SENDERPATERNALLASTNAME,
   
   -- Email, use what looks best
   CopsMedallia.SENDER_EMAIL,
   CopsTransactions.SENDEREMAILADDRESS,
   
   
   -- Customer Address
   CopsMedallia.SENDER_STRADR1,
   CopsMedallia.SENDER_STRADR2,
   CopsMedallia.SENDER_CITY,
   CopsTransactions.SENDERCITYNAME,
   CopsMedallia.SENDER_STATE,
   CopsTransactions.SENDERSTATENAME,
   CopsMedallia.SENDER_ZIPCDE,
   CopsTransactions.SENDERPOSTALCODE,
   CopsMedallia.SENDER_CONTRY,
   CopsTransactions.SENDERCOUNTRY,
   CopsTransactions.SENDCOUNTRYOFRESIDENCE,
   CopsTransactions.SENDERTELEPHONE,
   
-- Misc
   CopsTransactions.TRANSACTIONBRANDIDENTIFIER,
   CopsMedallia.LEGAL_ENTITY,
-- Only populated for US outbound > $15
   DfBuffer.TOTTOREC,
   DfBuffer.DATEAVAIL
   

FROM (
    SELECT 
        MTCN03 || MTCN07 AS MTCN,
        FinTransactions.TXNKEY,
    
    -- PRODUCTS, usually recording product == pay product
        FinTransactions.RECPRODCT,
        Products.PRDDES AS PRODUCT_DESCRIPTION,
        Products.BRAND,
         
    -- Dates/times
        FinTransactions.RECISODTE + SendTimes.HOURMINC AS RECISODTE,
        FinTransactions.PAYISODTE + PayoutTimes.HOURMINC AS Pay_Date,
        -- Do we need RDATE7?
        TransactionDetails.RDATE7,
    
    -- Principal amounts
        HistoricalRecordingFacts.RECPRN,
        RecordingCurrencies.CURR AS Send_Currency,
        PayoutDetails.PAYPRN AS Pay_Amount,
        PayoutCurrencies.CURR AS Pay_Currency,
        
    -- Tax and Fees
        HistoricalRecordingFacts.CHGBAS AS Send_Fee,
        HistoricalRecordingFacts.CHGBASUSD AS Send_Fee_USD,
        HistoricalRecordingFacts.TAXCITY, 
        HistoricalRecordingFacts.TAXST,
        HistoricalRecordingFacts.TAXMUN, 

        HistoricalRecordingFacts.TAXTTL,
    
    -- Fx And Dsc
        TransactionDetails.RATERECEXC / 100 as RATERECEXC100,
        HistoricalRecordingFacts.RECDSC / 100 as RECDSC100,
        TransactionDetails.RATEPAYEXC / 100 as RATEPAYEXC100,
        PayoutDetails.PAYDSC / 100 as PAYDSC100,
        -- Do we use this??
        HistoricalRecordingFacts.AMTDSC / 100 as AMTDSC100,
        
    -- Locations (Agent based not customer address based)    
        RecordingAgents.CONTRY AS Origination_Country,
        IntendedCountries.CONTRY AS Intended_Country,
        PayoutCountries.CONTRY AS Pay_Country,
        
    -- Sending/Recording Agent info
        RecordingAgents.AGTNME AS Recording_Agent_Name,
        -- Change "sending" to "recording" for consistency
        RecordingAgents.AGNTID AS Sending_Agent_ID,
        RecordingAgents.ACITY AS Sending_Agent_City,
        RecordingAgents.NETCONTRY AS Recording_Network_Country,
        RecordingAgents.NETAGTNME AS Recording_Network_Name,
        RecordingAgents.NAID AS Recording_Network_Id,

    -- Paying Agent info   
        PayingAgents.AGTNME AS Paying_Agent_Name,
        PayingAgents.AGNTID AS Paying_Agent_ID,
        PayingAgents.ACITY AS Paying_Agent_City,
        PayingAgents.NETCONTRY AS Paying_Network_Country,
        PayingAgents.NETAGTNME AS Paying_Network_Name,
        PayingAgents.NAID AS Paying_Network_Id,

    -- Misc
        TransactionDetails.PRMCDE

    FROM TDB.ETL_TDB.DB100PDLIB_FNTXKP01 FinTransactions
        
        INNER JOIN TDB.ETL_TDB.DB100PDLIB_FNPRDP01 Products on FinTransactions.PRDKEY = Products.PRDKEY 
        INNER JOIN TDB.ETL_TDB.DW400PDLIB_DWTXKP01 TransactionDetails ON FinTransactions.TXNKEY = TransactionDetails.TXNKEY
        INNER JOIN TDB.ETL_TDB.DB100PDLIB_DBTMSP01 SendTimes ON FinTransactions.RECTMSKEY = SendTimes.TMSKEY
        INNER JOIN TDB.ETL_TDB.DW200PDLIB_DWRTXP01 HistoricalRecordingFacts ON FinTransactions.TXNKEY = HistoricalRecordingFacts.TXNKEY
        INNER JOIN TDB.ETL_TDB.DB100PDLIB_DBCURP01 RecordingCurrencies ON FinTransactions.RECCURKEY = RecordingCurrencies.CURKEY
        INNER JOIN TDB.ETL_TDB.DB100PDLIB_DBCTYP01 IntendedCountries ON FinTransactions.ICONTRYKEY = IntendedCountries.CONTRYKEY
        INNER JOIN TDB.ETL_TDB.DB100PDLIB_DBCTYP01 RecordingCountries ON FinTransactions.RCONTRYKEY = RecordingCountries.CONTRYKEY
        
        -- Recording agent key
        INNER JOIN (
            SELECT * FROM TDB.ETL_TDB.DB100PDLIB_DBAGTP01 A
            LEFT OUTER JOIN TDB.ETL_TDB.DB100PDLIB_DBNWKP01 B ON A.NWKKEY = B.NWKKEY
        ) as RecordingAgents ON FinTransactions.RECAGTKEY = RecordingAgents.AGTKEY
        
        -- Anything Payout must be left joined, unless you want to exclude anything not yet paid out
        LEFT OUTER JOIN TDB.ETL_TDB.DB100PDLIB_DBTMSP01 PayoutTimes ON FinTransactions.PAYTMSKEY = PayoutTimes.TMSKEY
        LEFT OUTER JOIN TDB.ETL_TDB.DW300PDLIB_DWPTXP01 PayoutDetails ON FinTransactions.TXNKEY = PayoutDetails.TXNKEY
        LEFT OUTER JOIN TDB.ETL_TDB.DB100PDLIB_DBCURP01 PayoutCurrencies ON FinTransactions.PAYCURKEY = PayoutCurrencies.CURKEY
        LEFT OUTER JOIN TDB.ETL_TDB.DB100PDLIB_DBCTYP01 PayoutCountries ON FinTransactions.PCONTRYKEY = PayoutCountries.CONTRYKEY
        
        -- Paying agent key
        LEFT OUTER JOIN ( 
            SELECT * FROM TDB.ETL_TDB.DB100PDLIB_DBAGTP01 A
            LEFT OUTER JOIN TDB.ETL_TDB.DB100PDLIB_DBNWKP01 B ON A.NWKKEY = B.NWKKEY
        ) as PayingAgents ON FinTransactions.PAYAGTKEY = PayingAgents.AGTKEY

        WHERE 
        FINtransactions.recisodte > '2018-01-01'
        AND MTCN IN({mtcn_transactions_list})
        

) TdbInfo

LEFT OUTER JOIN COPS.DBAUSER.TRANSACTIONS CopsTransactions ON TdbInfo.MTCN = CopsTransactions.MTCN AND Substr(TdbInfo.RECISODTE,1,10) = Substr(CopsTransactions.RECORDINGDATETIME,1,10)
LEFT OUTER JOIN COPS.DBAUSER.MTCN_PRODUCT_MEDALLIA CopsMedallia ON TdbInfo.TXNKEY = CopsMedallia.TXNKEY
LEFT OUTER JOIN COPS.DBAUSER.CFPB_DF_BUFFER DfBuffer on TdbInfo.TXNKEY = DfBuffer.TXNKEY

-- These are the (incomplete) refund tables. We use them to indicate refunded txns, but missing values are common.
LEFT OUTER JOIN COPS.DBAUSER.MTCN_MANUAL_REFUND ManualRefunds ON TdbInfo.MTCN = ManualRefunds.MTCN AND Substr(TdbInfo.RECISODTE,1,10) = Substr(ManualRefunds.REC_DATETIME,1,10)
LEFT OUTER JOIN COPS.DBAUSER.MTCN_AUTO_REFUND AutoRefunds ON TdbInfo.MTCN = AutoRefunds.MTCN AND Substr(TdbInfo.RECISODTE,1,10) = Substr(AutoRefunds.REC_DATETIME,1,10)
LEFT OUTER JOIN COPS.DBAUSER.MTCN_CANCEL_TXNS CancelledTransactions ON TdbInfo.MTCN = CancelledTransactions.MTCN AND Substr(TdbInfo.RECISODTE,1,10) = Substr(CancelledTransactions.REC_DATETIME,1,10)
-- Should we add this?:
-- COPS.DBAUSER.MTCN_AUTO_REFILE
"""

In [9]:
#Execute template upload SQL statement
upload_template_df = pd.read_sql_query(template_upload_sql_statement,conn)

In [10]:
upload_template_df.head()

,REFUNDEDORCANCELLED,MTCN,TXNKEY,RECPRODCT,PRODUCT_DESCRIPTION,BRAND,RECISODTE,PAY_DATE,RDATE7,RECPRN,SEND_CURRENCY,PAY_AMOUNT,PAY_CURRENCY,SEND_FEE,SEND_FEE_USD,TAXCITY,TAXST,TAXMUN,TAXTTL,RATERECEXC100,RECDSC100,RATEPAYEXC100,PAYDSC100,AMTDSC100,ORIGINATION_COUNTRY,INTENDED_COUNTRY,PAY_COUNTRY,RECORDING_AGENT_NAME,SENDING_AGENT_ID,SENDING_AGENT_CITY,RECORDING_NETWORK_COUNTRY,RECORDING_NETWORK_NAME,RECORDING_NETWORK_ID,PAYING_AGENT_NAME,PAYING_AGENT_ID,PAYING_AGENT_CITY,PAYING_NETWORK_COUNTRY,PAYING_NETWORK_NAME,PAYING_NETWORK_ID,PRMCDE,SENDER_NAME,SENDNAME,SENDER_FIRST_NAME,SENDERFIRSTNAME,SENDER_MIDDLE_NAME,SENDERMIDDLENAME,SENDER_MATERNAL_LAST_NAME,SENDERMATERNALLASTNAME,SENDER_PATERNAL_LAST_NAME,SENDERPATERNALLASTNAME,SENDER_EMAIL,SENDEREMAILADDRESS,SENDER_STRADR1,SENDER_STRADR2,SENDER_CITY,SENDERCITYNAME,SENDER_STATE,SENDERSTATENAME,SENDER_ZIPCDE,SENDERPOSTALCODE,SENDER_CONTRY,SENDERCOUNTRY,SENDCOUNTRYOFRESIDENCE,SENDERTELEPHONE,TRANSACTIONBRANDIDENTIFIER,LEGAL_ENTITY,TOTTOREC,DATEAVAIL
0,No,2949821269,4139007150,AAIIII,MT Intl to Intl,WU,2018-10-22 10:40:00,2018-10-23 02:07:00,1181022,6491.24,DKK,5500.00,TRY,105.0,16.18,0.0,0.0,0.0,0.0,0.154164,0.0294,5.66255,0.0,0.0,DK,TR,TR,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,FIBABANKA GAZIANTEP SUBESI,AN3230779,GAZIANTEP,TR,FIBABANKA,E93,,None,MOHAMMAD AHMAD AL BASHA,None,MOHAMMAD,None,AHMAD,None,BASHA,None,AL,None,,None,None,None,AARHUS V,None,NA,None,8210,None,DK,,4571446393,WU,None,NaN,None
1,No,0266498553,4133762476,AAIIII,MT Intl to Intl,WU,2018-10-16 02:14:00,2018-10-16 08:18:00,1181016,600.00,USD,3729.07,DKK,15.0,15.00,0.0,0.0,0.0,0.0,1.000000,0.0354,6.44320,0.0,0.0,IQ,DK,DK,AL TAIF MONEY TRANSFER COMPANY,AA5080141,AL NASIRIYA,IQ,AL TAIF MONEY TRANSFER COMPANY,766,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,,None,MARWAN ABDULMAHDI KHALAF,None,MARWAN,None,ABDULMAHDI,None,,None,KHALAF,None,,None,None,None,ALNASRIYA,None,NA,None,,None,IQ,,9647812232000,WU,None,NaN,None
2,No,6737084514,4139355521,AAIIII,MT Intl to Intl,WU,2018-10-22 09:16:00,2018-10-23 03:27:00,1181022,4712.14,DKK,700.00,USD,155.0,23.89,0.0,0.0,0.0,0.0,0.154164,0.0364,1.00000,0.0,0.0,DK,VN,VN,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,ACB PGD HUNG PHU,AVU112493,HO CHI MINH,VN,ASIA COMMERCIAL BANK,088,,None,THI MONG THUONG VO,None,THI,None,MONG THUONG,None,,None,VO,None,,None,None,None,TILST,None,NA,None,,None,DK,,4550471065,WU,None,NaN,None
3,No,9975322498,4132682726,AAIIII,MT Intl to Intl,WU,2018-10-14 10:20:00,2018-10-16 11:08:00,1181014,750.00,HRK,696.04,DKK,145.0,22.61,0.0,0.0,0.0,0.0,0.155933,0.0783,6.45720,0.0,0.0,HR,DK,DK,EXC PULA CITY MALL,ARD060845,PULA,HR,EXCLUSIVE CHANGE DOO,E75,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,,None,ELIZABETA CERVAR VRBANIC,None,ELIZABETA,None,,None,VRBANIC,None,CERVAR,None,,None,None,None,PULA,None,NA,None,,None,HR,,385955607708,WU,None,NaN,None
4,No,2169684209,4139874638,AAIIIX,MT Intl to Intl Intra,WU,2018-10-23 11:11:00,2018-10-23 11:16:00,1181023,1204.64,DKK,1204.64,DKK,0.0,0.00,0.0,0.0,0.0,0.0,0.153915,0.0000,6.49710,0.0,0.0,DK,DK,DK,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,,KHALED KHALALI,KHALED KHALALI,KHALED,KHALED,,,,,KHALALI,KHALALI,,,"HAURUMSVEJ 7,2.TV",,TILST,TILST,NA,NA,8381,8381,DK,DK,,4560470536,WU,WU Payment Svcs Ireland Ltd,NaN,None

In [11]:
upload_template_df = upload_template_df.drop_duplicates(subset = 'MTCN', keep = 'first')

upload_template_df = upload_template_df[upload_template_df.REFUNDEDORCANCELLED != 'Cancelled']
upload_template_df = upload_template_df.merge(currency_conversion,left_on = 'SEND_CURRENCY', right_on = 'PAY_CURR', how = 'left')
upload_template_df.head()

,REFUNDEDORCANCELLED,MTCN,TXNKEY,RECPRODCT,PRODUCT_DESCRIPTION,BRAND,RECISODTE_x,PAY_DATE,RDATE7,RECPRN,SEND_CURRENCY,PAY_AMOUNT,PAY_CURRENCY,SEND_FEE,SEND_FEE_USD,TAXCITY,TAXST,TAXMUN,TAXTTL,RATERECEXC100,RECDSC100,RATEPAYEXC100,PAYDSC100,AMTDSC100,ORIGINATION_COUNTRY,INTENDED_COUNTRY,PAY_COUNTRY,RECORDING_AGENT_NAME,SENDING_AGENT_ID,SENDING_AGENT_CITY,RECORDING_NETWORK_COUNTRY,RECORDING_NETWORK_NAME,RECORDING_NETWORK_ID,PAYING_AGENT_NAME,PAYING_AGENT_ID,PAYING_AGENT_CITY,PAYING_NETWORK_COUNTRY,PAYING_NETWORK_NAME,PAYING_NETWORK_ID,PRMCDE,SENDER_NAME,SENDNAME,SENDER_FIRST_NAME,SENDERFIRSTNAME,SENDER_MIDDLE_NAME,SENDERMIDDLENAME,SENDER_MATERNAL_LAST_NAME,SENDERMATERNALLASTNAME,SENDER_PATERNAL_LAST_NAME,SENDERPATERNALLASTNAME,SENDER_EMAIL,SENDEREMAILADDRESS,SENDER_STRADR1,SENDER_STRADR2,SENDER_CITY,SENDERCITYNAME,SENDER_STATE,SENDERSTATENAME,SENDER_ZIPCDE,SENDERPOSTALCODE,SENDER_CONTRY,SENDERCOUNTRY,SENDCOUNTRYOFRESIDENCE,SENDERTELEPHONE,TRANSACTIONBRANDIDENTIFIER,LEGAL_ENTITY,TOTTOREC,DATEAVAIL,RECISODTE_y,REC_CURR,PAY_CURR,MEAN_REC_CURR_TO_USD,MEAN_USD_TO_PAY_CURR,MEDIAN_REC_CURR_TO_USD,MEDIAN_USD_TO_PAY_CURR,direct_convert
0,No,2949821269,4139007150,AAIIII,MT Intl to Intl,WU,2018-10-22 10:40:00,2018-10-23 02:07:00,1181022,6491.24,DKK,5500.00,TRY,105.0,16.18,0.0,0.0,0.0,0.0,0.154164,0.0294,5.66255,0.0,0.0,DK,TR,TR,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,FIBABANKA GAZIANTEP SUBESI,AN3230779,GAZIANTEP,TR,FIBABANKA,E93,,None,MOHAMMAD AHMAD AL BASHA,None,MOHAMMAD,None,AHMAD,None,BASHA,None,AL,None,,None,None,None,AARHUS V,None,NA,None,8210,None,DK,,4571446393,WU,None,NaN,None,2018-12-09,EUR,DKK,1.1375,6.5638,1.1375,6.5638,7.466322
1,No,0266498553,4133762476,AAIIII,MT Intl to Intl,WU,2018-10-16 02:14:00,2018-10-16 08:18:00,1181016,600.00,USD,3729.07,DKK,15.0,15.00,0.0,0.0,0.0,0.0,1.000000,0.0354,6.44320,0.0,0.0,IQ,DK,DK,AL TAIF MONEY TRANSFER COMPANY,AA5080141,AL NASIRIYA,IQ,AL TAIF MONEY TRANSFER COMPANY,766,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,,None,MARWAN ABDULMAHDI KHALAF,None,MARWAN,None,ABDULMAHDI,None,,None,KHALAF,None,,None,None,None,ALNASRIYA,None,NA,None,,None,IQ,,9647812232000,WU,None,NaN,None,2018-12-09,EUR,USD,1.1375,1.0000,1.1375,1.0000,1.137500
2,No,6737084514,4139355521,AAIIII,MT Intl to Intl,WU,2018-10-22 09:16:00,2018-10-23 03:27:00,1181022,4712.14,DKK,700.00,USD,155.0,23.89,0.0,0.0,0.0,0.0,0.154164,0.0364,1.00000,0.0,0.0,DK,VN,VN,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,ACB PGD HUNG PHU,AVU112493,HO CHI MINH,VN,ASIA COMMERCIAL BANK,088,,None,THI MONG THUONG VO,None,THI,None,MONG THUONG,None,,None,VO,None,,None,None,None,TILST,None,NA,None,,None,DK,,4550471065,WU,None,NaN,None,2018-12-09,EUR,DKK,1.1375,6.5638,1.1375,6.5638,7.466322
3,No,9975322498,4132682726,AAIIII,MT Intl to Intl,WU,2018-10-14 10:20:00,2018-10-16 11:08:00,1181014,750.00,HRK,696.04,DKK,145.0,22.61,0.0,0.0,0.0,0.0,0.155933,0.0783,6.45720,0.0,0.0,HR,DK,DK,EXC PULA CITY MALL,ARD060845,PULA,HR,EXCLUSIVE CHANGE DOO,E75,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,,None,ELIZABETA CERVAR VRBANIC,None,ELIZABETA,None,,None,VRBANIC,None,CERVAR,None,,None,None,None,PULA,None,NA,None,,None,HR,,385955607708,WU,None,NaN,None,2018-12-09,EUR,HRK,1.1375,6.4862,1.1375,6.4862,7.378052
4,No,2169684209,4139874638,AAIIIX,MT Intl to Intl Intra,WU,2018-10-23 11:11:00,2018-10-23 11:16:00,1181023,1204.64,DKK,1204.64,DKK,0.0,0.00,0.0,0.0,0.0,0.0,0.153915,0.0000,6.49710,0.0,0.0,DK,DK,DK,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,,KHALED KHALALI,KHALED KHALALI,KHALED,KHALED,,,,,KHALALI,KHALALI,,,"HAURUMSVEJ 7,2.TV",,TILST,TILST,NA,NA,8381,8381,DK,DK,,4560470536,WU,WU Payment Svcs Ireland Ltd,NaN,None,2018-12-09,EUR,DKK,1.1375,6.5638,1.1375,6.5638,7.466322

In [12]:
#Format first, middle and last name of sender

def first_name(df):
    if len(df['SENDER_FIRST_NAME']) > 0:
        return df['SENDER_FIRST_NAME']
    elif len(df['SENDERFIRSTNAME']) > 0:
        return df['SENDERFIRSTNAME']
    else:
        return None
    
def middle_name(df):
    if len(df['SENDER_MIDDLE_NAME']) > 0:
        return df['SENDER_MIDDLE_NAME']
    elif len(df['SENDERMIDDLENAME']) > 0:
        return df['SENDERMIDDLENAME']
    else:
        return None
    
def maternal_name(df):
    if len(df['SENDER_MATERNAL_LAST_NAME']) > 0:
        return df['SENDER_MATERNAL_LAST_NAME']
    elif len(df['SENDERMATERNALLASTNAME']) > 0:
        return df['SENDERMATERNALLASTNAME']
    else:
        return None
    
def paternal_name(df):
    if len(df['SENDER_PATERNAL_LAST_NAME']) > 0:
        return df['SENDER_PATERNAL_LAST_NAME']
    elif len(df['SENDERPATERNALLASTNAME']) > 0:
        return df['SENDERPATERNALLASTNAME']
    else:
        return None

def last_name(df):
    return df['SENDER_PATERNAL_LAST_NAME'] + df['SENDER_MATERNAL_LAST_NAME'] 

#Identify customer emails if required (only digital US customers and non-US customers will have their emails retained)

def email_check(row):
    if row['SEND_CURRENCY'] !='US':
        return row['SENDER_EMAIL']
    elif row['RECPRODCT'][0] == 'F':
        return row['SENDER_EMAIL']
    else:
        return None
    
#Check both customer street fields and merge if both fields contain information

def street_merge(row):
    if row['SENDER_STRADR2'] != None:
        return row['SENDER_STRADR1'] + row['SENDER_STRADR2']
    else:
        return row['SENDER_STRADR1'] 
    
#Use correct city field and if field is empty use the backup field
def city_check(row):
    if row['SENDER_CITY'] != None:
        return row['SENDER_CITY'] 
    else:
        return row['SENDERCITYNAME'] 
    
    
#Use correct state field and if field is empty use the backup field
def state_check(row):
    if row['SENDER_STATE'] != None:
        return row['SENDER_STATE'] 
    else:
        return row['SENDERSTATENAME'] 
    
#Use correct zip code field and if field is empty use the backup field
def zipcode_check(row):
    if row['SENDER_ZIPCDE'] != None:
        return row['SENDER_ZIPCDE'] 
    else:
        return row['SENDERPOSTALCODE'] 
    

#Use the correct country c use the backup field
def country_check(row):
    if row['SENDER_CONTRY'] != None:
        return row['SENDER_CONTRY'] 
    else:
        return row['SENDCOUNTRYOFRESIDENCE'] 
    
#Create long MTCN (days from beginning of year + 8 + short-MTCN)
def create_longmtcn(row):
    
    number_days = row['RECISODTE'].date() - datetime.date(2018, 1, 1)
    return str(number_days.days) + '8' + row['MTCN']

#Check both send country fields for empty fields
def send_country(row):
    if len(row['SENDER_CONTRY']) >0:
        return row['SENDER_CONTRY'] 
    else:
        return row['SENDERCOUNTRY'] 
    
#Check if upload_email field has an email in it, if so return 'Yes' otherwise leave blank
def upload_email_check(row):
    if row['upload_email'] != None:
        return row['upload_email'] 
    else:
        return None

In [14]:
#Execute first, middle, maternal, paternal and last name functions and add refund amount
upload_template_df['sender_first_name_updated'] = first_name(upload_template_df)
upload_template_df['sender_middle_name_updated'] = middle_name(upload_template_df)
upload_template_df['sender_maternal_name_updated'] = maternal_name(upload_template_df)
upload_template_df['sender_paternal_name_updated'] = paternal_name(upload_template_df)
upload_template_df['sender_last_name_updated'] = last_name(upload_template_df)
upload_template_df['upload_email'] = upload_template_df.apply(email_check, axis = 1)
upload_template_df['upload_street'] = upload_template_df.apply(street_merge, axis = 1)
upload_template_df['upload_city'] = upload_template_df.apply(city_check, axis = 1)
upload_template_df['upload_state'] = upload_template_df.apply(state_check, axis = 1)
upload_template_df['upload_zipcode'] = upload_template_df.apply(zipcode_check, axis = 1)
upload_template_df['upload_country'] = upload_template_df.apply(country_check, axis = 1)
upload_template_df['long_mtcn'] = upload_template_df.RECISODTE_x.dt.strftime('%j') +'8'+ upload_template_df.MTCN
upload_template_df['Refund Amount'] = upload_template_df.apply(lambda row: row['direct_convert']*4.1, axis =1 )#all customers are to be refunded 4 Euro which was the fee assessed by the agent, .1 was added to avoid a loss due to currency fluctuations

In [15]:
upload_template_df.head()

,REFUNDEDORCANCELLED,MTCN,TXNKEY,RECPRODCT,PRODUCT_DESCRIPTION,BRAND,RECISODTE_x,PAY_DATE,RDATE7,RECPRN,SEND_CURRENCY,PAY_AMOUNT,PAY_CURRENCY,SEND_FEE,SEND_FEE_USD,TAXCITY,TAXST,TAXMUN,TAXTTL,RATERECEXC100,RECDSC100,RATEPAYEXC100,PAYDSC100,AMTDSC100,ORIGINATION_COUNTRY,INTENDED_COUNTRY,PAY_COUNTRY,RECORDING_AGENT_NAME,SENDING_AGENT_ID,SENDING_AGENT_CITY,RECORDING_NETWORK_COUNTRY,RECORDING_NETWORK_NAME,RECORDING_NETWORK_ID,PAYING_AGENT_NAME,PAYING_AGENT_ID,PAYING_AGENT_CITY,PAYING_NETWORK_COUNTRY,PAYING_NETWORK_NAME,PAYING_NETWORK_ID,PRMCDE,SENDER_NAME,SENDNAME,SENDER_FIRST_NAME,SENDERFIRSTNAME,SENDER_MIDDLE_NAME,SENDERMIDDLENAME,SENDER_MATERNAL_LAST_NAME,SENDERMATERNALLASTNAME,SENDER_PATERNAL_LAST_NAME,SENDERPATERNALLASTNAME,SENDER_EMAIL,SENDEREMAILADDRESS,SENDER_STRADR1,SENDER_STRADR2,SENDER_CITY,SENDERCITYNAME,SENDER_STATE,SENDERSTATENAME,SENDER_ZIPCDE,SENDERPOSTALCODE,SENDER_CONTRY,SENDERCOUNTRY,SENDCOUNTRYOFRESIDENCE,SENDERTELEPHONE,TRANSACTIONBRANDIDENTIFIER,LEGAL_ENTITY,TOTTOREC,DATEAVAIL,RECISODTE_y,REC_CURR,PAY_CURR,MEAN_REC_CURR_TO_USD,MEAN_USD_TO_PAY_CURR,MEDIAN_REC_CURR_TO_USD,MEDIAN_USD_TO_PAY_CURR,direct_convert,sender_first_name_updated,sender_middle_name_updated,sender_maternal_name_updated,sender_paternal_name_updated,sender_last_name_updated,upload_email,upload_street,upload_city,upload_state,upload_zipcode,upload_country,long_mtcn,Refund Amount
0,No,2949821269,4139007150,AAIIII,MT Intl to Intl,WU,2018-10-22 10:40:00,2018-10-23 02:07:00,1181022,6491.24,DKK,5500.00,TRY,105.0,16.18,0.0,0.0,0.0,0.0,0.154164,0.0294,5.66255,0.0,0.0,DK,TR,TR,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,FIBABANKA GAZIANTEP SUBESI,AN3230779,GAZIANTEP,TR,FIBABANKA,E93,,None,MOHAMMAD AHMAD AL BASHA,None,MOHAMMAD,None,AHMAD,None,BASHA,None,AL,None,,None,None,None,AARHUS V,None,NA,None,8210,None,DK,,4571446393,WU,None,NaN,None,2018-12-09,EUR,DKK,1.1375,6.5638,1.1375,6.5638,7.466322,None,None,None,None,NaN,None,None,AARHUS V,NA,8210,,29582949821269,30.611922
1,No,0266498553,4133762476,AAIIII,MT Intl to Intl,WU,2018-10-16 02:14:00,2018-10-16 08:18:00,1181016,600.00,USD,3729.07,DKK,15.0,15.00,0.0,0.0,0.0,0.0,1.000000,0.0354,6.44320,0.0,0.0,IQ,DK,DK,AL TAIF MONEY TRANSFER COMPANY,AA5080141,AL NASIRIYA,IQ,AL TAIF MONEY TRANSFER COMPANY,766,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,,None,MARWAN ABDULMAHDI KHALAF,None,MARWAN,None,ABDULMAHDI,None,,None,KHALAF,None,,None,None,None,ALNASRIYA,None,NA,None,,None,IQ,,9647812232000,WU,None,NaN,None,2018-12-09,EUR,USD,1.1375,1.0000,1.1375,1.0000,1.137500,None,None,None,None,NaN,None,None,ALNASRIYA,NA,,,28980266498553,4.663750
2,No,6737084514,4139355521,AAIIII,MT Intl to Intl,WU,2018-10-22 09:16:00,2018-10-23 03:27:00,1181022,4712.14,DKK,700.00,USD,155.0,23.89,0.0,0.0,0.0,0.0,0.154164,0.0364,1.00000,0.0,0.0,DK,VN,VN,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,ACB PGD HUNG PHU,AVU112493,HO CHI MINH,VN,ASIA COMMERCIAL BANK,088,,None,THI MONG THUONG VO,None,THI,None,MONG THUONG,None,,None,VO,None,,None,None,None,TILST,None,NA,None,,None,DK,,4550471065,WU,None,NaN,None,2018-12-09,EUR,DKK,1.1375,6.5638,1.1375,6.5638,7.466322,None,None,None,None,NaN,None,None,TILST,NA,,,29586737084514,30.611922
3,No,9975322498,4132682726,AAIIII,MT Intl to Intl,WU,2018-10-14 10:20:00,2018-10-16 11:08:00,1181014,750.00,HRK,696.04,DKK,145.0,22.61,0.0,0.0,0.0,0.0,0.155933,0.0783,6.45720,0.0,0.0,HR,DK,DK,EXC PULA CITY MALL,ARD060845,PULA,HR,EXCLUSIVE CHANGE DOO,E75,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,,None,ELIZABETA CERVAR VRBANIC,None,ELIZABETA,None,,None,VRBANIC,None,CERVAR,None,,None,None,None,PULA,None,NA,None,,None,HR,,385955607708,WU,None,NaN,None,2018-12-09,EUR,HRK,1.1375,6.4862,1.1375,6.4862,7.378052,None,None,None,None,NaN,None,None,PULA,NA,,,28789975322498,30.250013
4,No,2169684209,4139874638,AAIIIX,MT Intl to Intl Intra,WU,2018-10-23 11:11:00,2018-10-23 11:16:00,1181023,1204.64,DKK,1204.64,DKK,0.0,0.00,0.0,0.0,0.0,0.0,0.153915,0.0000,6.49710,0.0,0.0,DK,DK,DK,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,ROYAL EXCHANGE,ADK036313,AARHUS C,DK,WESTERN UNION RETAIL SERVICES,056,,KHALED KHALALI,KHALED KHALALI,KHALED,KHALED,,,,,KHALALI,KHALALI,,,"HAURUMSVEJ 7,2.TV",,TILST,TILST,NA,NA,8381,8381,DK,DK,,4560470536,WU,WU Payment Svcs Ireland Ltd,NaN,None,2018-12-09,EUR,DKK,1.1375,6.5638,1.1375,6.5638,7.466322,KHALED,,,KHALALI,KHALALI,,"HAURUMSVEJ 7,2.TV",TILST,NA,8381,DK,29682169684209,30.611922

In [27]:
#Create final upload file
upload_file = pd.DataFrame()
upload_file['Case Owner'] = ['Remediation Que']*len(upload_template_df) #Assign to available bots at time of upload to avoid manually assigning bots
upload_file['Subject'] = ['2018 - Date of Availability Remediation']*len(upload_template_df)
upload_file['Description'] = ['']*len(upload_template_df) #Description field is to be left empty, issue description can be found in the 'REM Letter Resolution Text' field
upload_file['Status'] = ['New']*len(upload_template_df)
upload_file['Case Record Type'] = ['Remediation']*len(upload_template_df)
upload_file['REM Letter Resolution Text'] = ['We have determined that your money transfer was charged an additional fee in error.  As a result, we are refunding you the entire erroneous fee with the Refund Tracking Number (MTCN).  You may pick-up your refund at any Western Union agent location in your area.']*len(upload_template_df)
upload_file['Preferred Language'] = ['']*len(upload_template_df) #Preferred language is to be left empyt
upload_file['Refund Amount'] = upload_template_df['Refund Amount']
upload_file['Refund Currency'] = upload_template_df['SEND_CURRENCY']
upload_file['Remediation'] = ['Refund Fee']*len(upload_template_df)
upload_file['Public Comments'] = ['WU is refunding customers unathorized fees which were being charged by the agent.']*len(upload_template_df) #Manually entered information relating to the reason for the refund
upload_file['REM First Name'] = upload_template_df['sender_first_name_updated']
upload_file['REM Middle Name'] = upload_template_df['sender_middle_name_updated']
upload_file['REM Last Name'] = upload_template_df['sender_last_name_updated']
upload_file['REM Phone Number'] = upload_template_df['SENDERTELEPHONE']
upload_file['REM Email'] = upload_template_df['upload_email']
upload_file['Street'] = upload_template_df['upload_street']
upload_file['City'] = upload_template_df['upload_city']
upload_file['State'] = upload_template_df['upload_state']
upload_file['Zip/Postal Code'] = upload_template_df['upload_zipcode']
upload_file['Country'] = upload_template_df['upload_country']
upload_file['Long MTCN'] = upload_template_df['long_mtcn']
upload_file['MTCN'] = upload_template_df['MTCN'] 
upload_file['Send Date'] = upload_template_df['RECISODTE_x']
upload_file['Send Amount'] = upload_template_df['RECPRN']
upload_file['Send Currency'] = upload_template_df['SEND_CURRENCY']
upload_file['Send Fee'] = upload_template_df['SEND_FEE']
upload_file['Origination Country'] = upload_template_df['upload_country']
upload_file['Send Brand'] = upload_template_df['BRAND'] 
upload_file['Pay Date'] = upload_template_df['PAY_DATE']
upload_file['Pay Amount'] = upload_template_df['PAY_AMOUNT']
upload_file['Pay Currency'] = upload_template_df['PAY_CURRENCY']  
upload_file['Destination Country'] = upload_template_df['INTENDED_COUNTRY']
upload_file['Sending Agent ID'] = upload_template_df['SENDING_AGENT_ID']
upload_file['Send Email'] = upload_template_df.apply(upload_email_check, axis = 1)
upload_file['Sending Agent ID'] = ['ADD']*len(upload_template_df)
upload_file['Send Email'] = upload_file.apply(lambda row: 'No' if row['REM Email'] is None or '@' not in row['REM Email'] else 'Yes', axis = 1)

In [28]:
#Import iCare Country lookup codes to convert current country codes to names accepted by iCare
iCare_cc = pd.read_csv(r"C:\Users\309270\Desktop\portfolio_analytics\templates\iCare-Country-lookup.csv")

In [29]:
#Replace country codes in final upload report with iCare country names
upload_file = pd.merge(upload_file, iCare_cc, how = 'left', left_on = 'Country', right_on = 'CONTRY')
upload_file = pd.merge(upload_file, iCare_cc, how = 'left', left_on = 'Destination Country', right_on = 'CONTRY')
upload_file = upload_file.drop(columns = ['Country','Destination Country', 'CONTRY_x', 'CONTRY_y'])
upload_file = upload_file.rename(columns = {'CTYDES_x':'Country', 'CTYDES_y': 'Destination Country'})

In [62]:
#Check column/country name format
#pd.crosstab(index = upload_file['Refund Currency'], columns = "count")
#upload_file.head()

In [21]:
upload_file= upload_file.rename({'Refund Currency':'Refund_Currency'}, axis = 1)

In [30]:
upload_file.head()

,Case Owner,Subject,Description,Status,Case Record Type,REM Letter Resolution Text,Preferred Language,Refund Amount,Refund Currency,Remediation,Public Comments,REM First Name,REM Middle Name,REM Last Name,REM Phone Number,REM Email,Street,City,State,Zip/Postal Code,Long MTCN,MTCN,Send Date,Send Amount,Send Currency,Send Fee,Origination Country,Send Brand,Pay Date,Pay Amount,Pay Currency,Sending Agent ID,Send Email,Country,Destination Country
0,Remediation Que,2018 - Date of Availability Remediation,,New,Remediation,We have determined that your money transfer wa...,,30.611922,DKK,Refund Fee,WU is refunding customers unathorized fees whi...,None,None,NaN,4571446393,None,None,AARHUS V,NA,8210,29582949821269,2949821269,2018-10-22 10:40:00,6491.24,DKK,105.0,,WU,2018-10-23 02:07:00,5500.00,TRY,ADD,No,NaN,TURKEY
1,Remediation Que,2018 - Date of Availability Remediation,,New,Remediation,We have determined that your money transfer wa...,,4.663750,USD,Refund Fee,WU is refunding customers unathorized fees whi...,None,None,NaN,9647812232000,None,None,ALNASRIYA,NA,,28980266498553,0266498553,2018-10-16 02:14:00,600.00,USD,15.0,,WU,2018-10-16 08:18:00,3729.07,DKK,ADD,No,NaN,DENMARK
2,Remediation Que,2018 - Date of Availability Remediation,,New,Remediation,We have determined that your money transfer wa...,,30.611922,DKK,Refund Fee,WU is refunding customers unathorized fees whi...,None,None,NaN,4550471065,None,None,TILST,NA,,29586737084514,6737084514,2018-10-22 09:16:00,4712.14,DKK,155.0,,WU,2018-10-23 03:27:00,700.00,USD,ADD,No,NaN,VIETNAM
3,Remediation Que,2018 - Date of Availability Remediation,,New,Remediation,We have determined that your money transfer wa...,,30.250013,HRK,Refund Fee,WU is refunding customers unathorized fees whi...,None,None,NaN,385955607708,None,None,PULA,NA,,28789975322498,9975322498,2018-10-14 10:20:00,750.00,HRK,145.0,,WU,2018-10-16 11:08:00,696.04,DKK,ADD,No,NaN,DENMARK
4,Remediation Que,2018 - Date of Availability Remediation,,New,Remediation,We have determined that your money transfer wa...,,30.611922,DKK,Refund Fee,WU is refunding customers unathorized fees whi...,KHALED,,KHALALI,4560470536,,"HAURUMSVEJ 7,2.TV",TILST,NA,8381,29682169684209,2169684209,2018-10-23 11:11:00,1204.64,DKK,0.0,DK,WU,2018-10-23 11:16:00,1204.64,DKK,ADD,No,DENMARK,DENMARK

In [22]:
currency_conversion.head()

,RECISODTE,REC_CURR,PAY_CURR,MEAN_REC_CURR_TO_USD,MEAN_USD_TO_PAY_CURR,MEDIAN_REC_CURR_TO_USD,MEDIAN_USD_TO_PAY_CURR,direct_convert
0,2018-12-03,EUR,UYP,1.133108,32.157545,1.1335,32.189999,36.487363
1,2018-12-03,EUR,SSP,1.131100,151.832399,1.1311,151.832397,171.737616
2,2018-12-03,EUR,SGD,1.132150,1.371400,1.1311,1.374200,1.554358
3,2018-12-03,EUR,ILS,1.132720,3.719993,1.1335,3.720150,4.216790
4,2018-12-03,EUR,MZN,1.132663,61.462500,1.1335,61.424999,69.625235

In [21]:
total_customers = upload_file['']

KeyError: ''